#jumbo {
    background-image: url('../../assets/images/pexels-photo-761070.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2rem;
}

#jumbo p {
    margin-bottom: 200px;
}

#jumboText {
    margin-top: 20px;
}

.jumboBody {
    background-color:floralwhite; 
}